
<footer>
  <div class="wrapper">
    <p class="copyright">© 2017 MUSEUM EVENT APP</p>
    <p class="message">Created with &hearts; by <span class="name">Nayeli</span></p>
  </div>
</footer>

</body>
</html>
