<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Museum Events</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" >
</head>
<body>
  <header id="page-header">
    <div class="wrapper">
      <h1><%= logoName %></h1>
      <nav>
        <ul>
          <li><strong><a href="/">Home</a></strong></li>
          <li><strong><a href="../events">Events</a></strong></li>
        </ul>
      </nav>
    </div>
  </header>
