  <% include ./partials/header.ejs %>
  <div class="home-screen">
    <p>Welcome to the Museum's Event Listings!</p>
    <button><a href="../events">View Events</a></button>
  </div>
  <% include ./partials/footer.ejs %>
</body>
</html>
