<% include ../partials/header.ejs %>

  <div class='event'>
    <h3>Museum: <%= data.museum_name%></h3>
    <h3>Name Of Event: <%= data.name_of_event %></h3>
    <h3>Description: <%= data.description %></h3>
    <a href='/events/'>See all events</a>
  </div>

<% include ../partials/footer.ejs %>
