<%# include header is going to go here %>

<form method='POST' action='/events'>
  <input name='museum_id' type='text' placeholder='museum name' />
  <input name='name_of_event' type='text' placeholder='name of event' />
  <input name='description' type='text' placeholder='description'>
  <input type='submit' value='Submit!' />
</form>

<%# include foorter is going to go here %>
